<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   APIKeys.plist
   Stadiumly

   Created by 김나연 on 5/28/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
            <key>WEATHER_API_KEY</key>
            <string>2692e89765ccfba179e8f09fc3810664</string>
            
            <key>PARKING_API_KEY</key>
            <string>4965454f67736b6435354d516f646a</string>
            
            <key>KAKAO_API_KEY_NY</key>
            <string>a1ca20c12106778d413b69fdaace0b23</string>
            
            <key>KAKAO_API_KEY_MH</key>
            <string>7e6e75503425a149d7e47bb7e360543c</string>
    </dict>
</plist>
